<div class="container products-wrapper">
    <h1 class="products-title">Esta editando la pelicula: <%=movie.title%> </h1>
  
    <form action="/edit/<%= movie.id %>?_method=PUT" method="POST" >
      <div class="product-detail">
        <div class="col">
          <label for="title" class="form-label">Titulo de la pelicula:</label>
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Ej: Pokemon"
            class="form-input"
            value="<%=movie.title%>"
          />
          <br />
          <br />
        </div>
        <div class="col">
          <label for="rating" class="form-label">Rating de la pelicula:</label>
          <input
            type="text"
            id="rating"
            name="rating"
            placeholder="Ej: 8"
            class="form-input"
            value="<%=movie.rating%>"
          />
          <br />
          <br />
        </div>
        <div class="col">
          <label for="awards" class="form-label">Premios conseguidos:</label>
          <input
            type="text"
            id="awards"
            name="awards"
            placeholder="Ej: 6"
            class="form-input"
            value="<%=movie.awards%>"
          />
          <br />
          <br />
        </div>
        <div class="col">
          <label for="length" class="form-label">Duracion en minutos:</label>
          <input
            type="text"
            id="length"
            name="length"
            placeholder="Ej: 120"
            class="form-input"
            value=<%=movie.length%>
          />
          <br />
          <br />
        </div>
        <div class="col">
          <label for="releaseDate" class="form-label">Año de creacion:</label>
          <input
            type="text"
            id="releaseDate"
            name="releaseDate"
            placeholder="Ej: Sun Oct 03 2010 21:00:00 GMT-0300 (GMT-03:00)"
            class="form-input"
            value="<%=movie.release_date%>"
          />
          <br />
          <br />
        </div>
        <div class="col">
          <label for="Genre" class="form-label">Genero:</label>
          <input
            type="text"
            id="genre"
            name="genre"
            placeholder="Ej: Terror"
            class="form-input"
            value="<%=movie.genre%>"
          />
          <br />
          <br />
        </div>
  
        <div class="col-2">
          <button type="submit">Guardar pelicula</button> <br>
          <h2><a href="/">HOME</a></h2>
  
        </div>
      </div>
    </form>
  </div>
  