<div class="container products-wrapper">
  <h1 class="products-title">Formulario de Creación de Peliculas</h1>


  
  <form action="/create" method="POST">

    <% if(typeof errors !== 'undefined') {%>
      <ul>
        <% for(error of errors) {%>
        <li><%= error.msg %></li>
        <% } %> 
      </ul>
    <% } %> 

    <div class="product-detail">
      <div class="col">
        <label for="title" class="form-label">Titulo de la pelicula:</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Ej: Pokemon"
          class="form-input"
        />
        <br />
        <p>
          <%= typeof errors == 'undefined' ? '' : typeof errors.title == 'undefined' ? '' : errors.title.msg %>
        </p>
        <br />
      </div>
      <div class="col">
        <label for="rating" class="form-label">Rating de la pelicula:</label>
        <input
          type="text"
          id="rating"
          name="rating"
          placeholder="Ej: 8"
          class="form-input"
        />
        <br />
        <p>
          <%= typeof errors == 'undefined' ? '' : typeof errors.rating == 'undefined' ? '' : errors.rating.msg %>
        </p>
        <br />
      </div>
      <div class="col">
        <label for="awards" class="form-label">Premios conseguidos:</label>
        <input
          type="text"
          id="awards"
          name="awards"
          placeholder="Ej: 6"
          class="form-input"
        />
        <br />
        <p>
          <%= typeof errors == 'undefined' ? '' : typeof errors.awards == 'undefined' ? '' : errors.awards.msg %>
        </p>
        <br />
      </div>
      <div class="col">
        <label for="length" class="form-label">Duracion en minutos:</label>
        <input
          type="text"
          id="length"
          name="length"
          placeholder="Ej: 120"
          class="form-input"
        />
        <br />
        <p>
          <%= typeof errors == 'undefined' ? '' : typeof errors.length == 'undefined' ? '' : errors.length.msg %>
        </p>
        <br />
      </div>
      <div class="col">
        <label for="releaseDate" class="form-label">Año de creacion:</label>
        <input
          type="text"
          id="releaseDate"
          name="releaseDate"
          placeholder="Ej: Sun Oct 03 2010 21:00:00 GMT-0300 (GMT-03:00)"
          class="form-input"
        />
        <br />
        <p>
          <%= typeof errors == 'undefined' ? '' : typeof errors.releaseDate == 'undefined' ? '' : errors.releaseDate.msg %>
        </p>
        <br />
      </div>
      <div class="col">
        
        <label for="genre"> Genero : </label>    
       
        <select name="genre">   
          
          <% for (genre of genres) { %> 
          
                <option value="<%= genre.id %>" selected><%= genre.name %></option>
                  
        <% } %> 

    </select>
      
      </div>

      <br>
      <div class="col-2">
        <button type="submit">Guardar pelicula</button> <br />
        <h2><a href="/">HOME </a></h2>
      </div>
    </div>
  </form>
</div>
